<div class="about-container">
    <h2 id="about-me">About Me</h2>
    <div class="flex-about">
        <div class="about-text">
            <p>
            Welcome to my website! 
            </p>
            <p >I am a web developer with a background in nursing and healthcare, and I am excited to showcase my transition into the world of high technology. With a passion for technology and a desire to make a difference, I made the decision to switch careers and pursue web development. On this website, you will find information about my technical skills, education and training, projects I have worked on, and my unique perspective as a nurse-turned-web developer. I believe that my background in healthcare, combined with my proficiency in programming languages and problem-solving skills, allows me to bring a fresh and valuable perspective to the field of web development. I invite you to explore my portfolio and learn more about how I can contribute to your web development needs.</p>
        </div>
        <div class="about-img">
            <img src="assets/about-photo.jpg" alt="Woman behind computer, writing code" class="profile-img" />
            
        </div>
    </div>
</div>