<hr />
<div class="footer-container">
    <p>© 2024 Maria's Portfolio</p>
    <div class="social_icons">
        
        </a>
        <a
            href="https://github.com/chinchevayam"
            aria-label="GitHub"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-github"></i>
        </a>
        <a
            href="https://www.linkedin.com/in/maria-chinchevaya-56270637/"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</div>