</div>
<div class="hero-container">
    <img src='assets/profile-photo.jpg' class="profile-img" alt="Joe's personal headshot" />
    <div class="hero-text">
        <h1>Hey, I'm Maria 👋</h1>
        <p>
I am motivated and enthusiastic web and software developer looking to embark on the career in the field.        </p>
        <div class="social-icons">
            
            </a>
            <a href="https://github.com/chinchevayam">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/maria-chinchevaya-56270637">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>
