<div class="nav-container">
    <div class="logo">
        <img src="assets/logo.jpg" alt="MC design and development logo" class="logo">
           
        </a>
    </div>
    <div class="nav">
        <div>
<a href="#about-me"</a> <button class="about-me"> About Me </button>
        </div> 
        <div>
    <a href="#skills"</a> <button class="skills">Skills </button>
        </div>
        <div>
    <a href="#skills"</a> <button class="cta-btn">Contact</button>
    </div>
</div>